<!DOCTYPE html>
<html>
  <head>
    <!-- Imported CSS files -->
    <link rel="stylesheet" href="styles/index.css">
    <link rel="stylesheet" href="styles/shared.css">

    <!-- Simple Page to show login failed -->
    <title>Login Failed</title>
  </head>
  <body>
    <!-- Title and error information for username registration-->
    <h1>Registration Failed</h1>
    <p>Your registration failed. Username already in use!</p>
    <p><a href="../register">Return to Registration</a></p>
  </body>
</html>