<!DOCTYPE html>
<html>
  <head>
    <!-- Imported CSS files -->
    <link rel="stylesheet" href="styles/index.css">
    <link rel="stylesheet" href="styles/shared.css">
    
    <!-- Simple Page to show login failed -->
    <title>Login Failed</title>
  </head>
  <body>
    <!-- Title and error information for login -->
    <h1>Login Failed</h1>
    <p>Your Login has failed. Your Username or password is incorrect</p>
    <p><a href="../login">Return to Login Page</a></p>
  </body>
</html>